{% set supports_raise_anomaly = function.supports_raise_anomaly(aos_version) %}
{% set supports_qe_optional = function.supports_qe_optional(aos_version) %}
{% set sz_query =
  "node(name='intf')"
  ".in_('member_interfaces').node('sz_instance')"
  ".in_('instantiated_by').node('security_zone', name='sz')" %}
{% set query =
  "match(node('system', name='leaf', role='leaf', system_id=not_none(), deploy_mode='deploy')"
  ".out('hosted_interfaces').node('interface', name='intf')"
  ".out('link').node('link')"
  ".in_('link').node('interface', name='other_intf')"
  ".in_('hosted_interfaces').node('system', name='peer', role=ne('leaf'), deploy_mode='deploy')," +
  ("optional(%s))" % sz_query if supports_qe_optional else "%s)" % sz_query)
%}
{
  "processors": [
    {
      "name": "Collect BGP session state",
      "type": "generic_data_collector",
      "properties": {
        "data_type": "dss",
        "graph_query": "{{query}}",
        "service_name": "bgp_iba",
        "system_id": "leaf.system_id",
        "key": "'%s_%s' % (sz.vrf_name if sz else 'default', other_intf.ipv4_addr.split('/')[0] if other_intf.ipv4_addr else intf.if_name)",
        "interface": "intf.if_name",
        "peer_hostname": "peer.hostname",
        "value_map": {
          "0": "missing",
          "1": "up",
          "2": "down"
        }
      },
      "outputs": {
        "out": "bgp_session_state"
      }
    },
    {
      "type": "{{ function.get_proc_name('in_state', aos_version) }}",
      "name": "Inactive BGP sessions",
      "inputs": {
        "in": "bgp_session_state"
      },
      "properties": {
        "state": "up"
{% if supports_raise_anomaly %}
        , "raise_anomaly": true
{% endif %}
      },
      "outputs": {
        "out": "bgp_session_down"
      }
    }
{% if not supports_raise_anomaly %}
    ,
    {
      "type": "anomaly",
      "name": "BGP session down anomaly",
      "inputs": {
        "in": "bgp_session_down"
      },
      "properties": {
        "enable_streaming": true
      },
      "outputs": {
        "out": "bgp_session_down_anomaly"
      }
    }
{% endif %}
  ],
  "label": "Leaf vrf-aware BGP session anomalies"
}
