{% set supports_raise_anomaly = function.supports_raise_anomaly(aos_version) %}
{
  "processors": [
    {
      "name": "MLAG domain config sanity",
      "type": "generic_data_collector",
      "properties": {
        "data_type": "ns",
        "graph_query": "node('system', name='mlag_system', system_id=not_none(), deploy_mode='deploy').out('part_of_redundancy_group').node('redundancy_group')",
        "service_name": "mlag_domain",
        "system_id": "mlag_system.system_id",
        "value_map": {
          "0": "missing",
          "1": "consistent",
          "2": "inconsistent"
        },
        "key": "'config_sanity'"
      },
      "outputs": {
        "out": "mlag_domain_config_sanity"
      }
    },
    {
      "name": "Inconsistent MLAG domains",
      "type": "{{ function.get_proc_name('in_range', aos_version) }}",
      "inputs": {
        "in": "mlag_domain_config_sanity"
      },
      "properties": {
        "range": {
          "max": 1,
          "min": 1
        }
{% if supports_raise_anomaly %}
        , "raise_anomaly": true
{% endif %}
      },
      "outputs": {
        "out": "mlag_domain_inconsistent"
      }
    }
{% if not supports_raise_anomaly %}
    ,
    {
      "name": "MLAG domain inconsistent anomaly",
      "type": "anomaly",
      "inputs": {
        "in": "mlag_domain_inconsistent"
      },
      "properties": {
        "enable_streaming": true
      },
      "outputs": {
        "out": "mlag_domain_inconsistent_anomaly"
      }
    }
{% endif %}
  ],
  "label": "MLAG domain config sanity anomalies"
}
